@screen-md: 768px;
@screen-md-min: @screen-md;
.login-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
@media (min-width: @screen-md-min) {
  .login-page-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  .login-banner {
    height: 100vh;
    width: 550px;
  }
  .login-content {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    .login-form-wrap {
      width: 320px;
      .login-form-title {
        font-size: 24px;
        font-weight: 500;
        color: var(--color-text-1);
        line-height: 32px;
      }
      .login-form-sub-title {
        margin-top: 8px;
        font-size: 14px;
        line-height: 22px;
        color: var(--color-text-3);
      }
      .login-form-error-msg {
        height: 32px;
        line-height: 32px;
        color: rgb(var(--red-6));
      }
      .help-function {
        display: flex;
        justify-content: space-between;
      }
      .register-btn {
        color: var(--color-text-3) !important;
      }
    }
    .login-footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
