<!--
 * @Author: ldm
 * @Date: 2021-11-10 04:47:22
 * @LastEditors: ldm
 * @LastEditTime: 2021-12-25 00:22:30
 * @Description: 模板页
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./public/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="root">

    </div>
</body>

</html>